<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>

    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <!-- v-cloak hides any un-compiled data bindings until the Vue instance is ready. -->

    <form id="main" v-cloak>

        <h1>Services</h1>

        <ul>
            <!-- Loop through the services array, assign a click handler, and set or
                 remove the "active" css class if needed -->
            <li v-for="service in services" v-on:click="toggleActive(service)" v-bind:class="{ 'active': service.active}">
                <!-- Display the name and price for every entry in the array .
                    Vue.js has a built in currency filter for formatting the price -->
                {{service.name}} <span>{{service.price | currency}}</span>
            </li>
        </ul>

        <div class="total">
            <!-- Calculate the total price of all chosen services. Format it as currency. -->
            Total: <span>{{total() | currency}}</span>
        </div>

    </form>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="app.js"></script>
  </body>
</html>
