ul {
  list-style: none;
  text-align: center;
  margin-bottom: 3em;
  margin-top: 3em;
}

h3 {
  font-size: 6em;
  text-align: center;
}

li {
    margin-bottom: 1em;
    cursor: pointer;
}

form {
  text-align: center;
}
input, ul, .submit-button{
  font-size: 2em;
}

.submit-button {
  margin : 1em;
}

input {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.item-icon {
  margin-right: 0.5em;
}
