<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vue Menu Tutorial</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  <body>
        <div id="main">

        <!-- The navigation menu will get the value of the "active" variable as a class. -->

        <!-- To stops the page from jumping when a link is clicked
            we use the "prevent" modifier (short for preventDefault). -->

        <nav v-bind:class="active" v-on:click.prevent>

            <!-- When a link in the menu is clicked, we call the makeActive method,
            defined in the JavaScript Vue instance. It will change the value of "active". -->

            <a href="#" class="home" v-on:click="makeActive('home')">Home</a>
            <a href="#" class="projects" v-on:click="makeActive('projects')">Projects</a>
            <a href="#" class="services" v-on:click="makeActive('services')">Services</a>
            <a href="#" class="contact" v-on:click="makeActive('contact')">Contact</a>
        </nav>

        <!-- The mustache expression will be replaced with the value of "active".
             It will automatically update to reflect any changes. -->

        <p>You chose: <b>{{active}}</b></p>
    </div>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="app.js"></script>
  </body>
</html>
