.row{
  text-align: center;
  margin-bottom: 2em;
}

.search-row{
  margin-top: 4em;
  margin-bottom: 4em;
}



.title-row, .content-row{
  margin-left: 10em;
  margin-right: 10em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  border-bottom: thin solid rgba(0, 0, 0, 0.1);
}

.title-row{
  border-bottom: thin solid rgba(0,0,0,0.3);
  margin-bottom: 0;
}

.content-row{
  margin-top: 1em;
  margin-bottom: 1em;
}

label{
  width: 100%;
}

input{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.4em;
  margin-bottom: 1.5em;
  margin-top: 1em;
  border: none;
  border-bottom: thin solid rgba(0,0,0,0.3);
  outline: 0;
}

.gt-lt-container{
  margin-top: 1em;
}

.search-type{
  margin-top: 1em;
}

.search-players{
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.4em;
}

.gtLt-select{
  width: auto;
}
