              <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Baseball Player App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div id="app">
      <div class="container jumbotron">
        <div class="row">
          <h1>{{title}}</h1>
        </div>
      </div>
      <div class="row search-row">
        <label>Search for Player</label>
        <input v-if="filterType < 2" type="text" v-model="searchText" @change="filterPlayers"/>
        <input v-if="filterType >= 2" type="text" v-model="searchText" @change="filterScores"/>
        <div class="col-md-12 search-type">
          <button v-if="filterType === 0" type="button" name="filter-type" v-on:click.prevent="setSearch" class="btn btn-default">Filter by Name</button>
          <button v-else-if="filterType === 1" type="button" name="filter-type" v-on:click.prevent="setSearch" class="btn btn-default">Filter by Team</button>
          <button v-else-if="filterType === 2" type="button" name="filter-type" v-on:click.prevent="setSearch" class="btn btn-default">Filter by Avg.</button>
          <button v-else-if="filterType === 3" type="button" name="filter-type" v-on:click.prevent="setSearch" class="btn btn-default">Filter by HR.</button>
          <button v-else-if="filterType === 4" type="button" name="filter-type" v-on:click.prevent="setSearch" class="btn btn-default">Filter by RBI.</button>
          <button v-else-if="filterType === 5" type="button" name="filter-type" v-on:click.prevent="setSearch" class="btn btn-default">Filter by OBP.</button>
          <div class="col-md-12 gt-lt-container" v-show="filterType >= 2" >
            <label>{{(this.gtLt ? "Greater-Than" : "Less-Than")}}</label>
            <input type="checkbox" name="name" @change="setGtLt" class="gtLt-select"/>
          </div>
        </div>
      </div>
      <div class="row title-row">
        <div class="col-md-4">Player Name:</div>
        <div class="col-md-2">AVG:</div>
        <div class="col-md-2">HR:</div>
        <div class="col-md-2">RBI:</div>
        <div class="col-md-2">OBP:</div>
      </div>
      <div class="row content-row" v-for="p in showPlayers">
        <div class="col-md-4">{{p.name}} + ", " + {{p.team}}</div>
        <div class="col-md-2">{{p.avg}}</div>
        <div class="col-md-2">{{p.hr}}</div>
        <div class="col-md-2">{{p.rbi}}</div>
        <div class="col-md-2">{{p.obp}}</div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/app.js"></script>
  </body>
</html>
