h1, h3, ul{
  font-family: sans-serif;
  font-size: 24px;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(0,0,0,0.5);
}

ul {
  list-style: none;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

li{
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
  color: #000;
  font-size: 48px;
  cursor: pointer;
}

li:hover{
  text-decoration: underline;
}

.app-jumbo{
  background-color: #1abc9c;
  padding: 2em;
  border-radius: 0.2em;
  margin-bottom: 3em;
}

.app-jumbo h1{
  font-size: 64px;
}
