.hero-title, .villain-title{
  text-align: center;
}

.hero-data, .villain-data{
  min-height: 2em;
}

.hero-image, .villain-image{
  width: 70%;
  display: inline;
}

.edit-form{
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.hero-search, .villain-search{
  text-align: center;
  margin-top: 8em;
  margin-bottom: 8em;
}

.hero-search label , .hero-search input, .hero-search button,
.villain-search label, .villain-search input, .villain-search button{
  font-size: 2em;
}

.hero-search label, .villain-search label {
  width: 100%;
}

.hero-search button, .villain-search button{
  vertical-align: text-center;
  margin-bottom: auto;
}
