<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    <link rel="stylesheet" href="styles.css" media="screen" title="no title">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container" id="app">
      <div class="container jumbotron villain-title">
        <h1>{{ title }}</h1>
      </div>
      <div class="container villain-search">
        <label>Search for a villain:</label>
        <input type="text" v-model="searchVillain"/>
        <button type="button" name="button" class="btn btn-default" v-on:click.prevent="searchVillains">Search</button>
        <button type="button" name="button" class="btn btn-primary" v-on:click.prevent="sortBy('name')">{{ (invert) ? 'A-Z' : 'Z-A' }}</button>
      </div>
      <div class="container villains-main">
        <div class="list-group villains-list">
          <div class="list-group-item villain-item" v-for="(v,index) in villains">
            <div class="row villain-row">
              <div class="col-md-2 villain-data">
                <h3>Name: {{ v.name }}</h3>
                <p>Superpower: {{ v.superpower }}</p>
              </div>
              <div class="col-md-4">
                <img :src="v.image" class="villain-image"/>
              </div>
              <div class="col-md-6">
                <button type="button" name="button" class="btn btn-primary edit-villain" v-on:click.prevent="toggleEdit(v._id, index)">Edit</button>
                <button type="button" name="button" class="btn btn-danger delete-villain" v-on:click.prevent="deleteVillain(v._id)">Delete</button>
              </div>
            </div>
            <div v-show="showEdit && selectedVillain === v._id" class="row edit-villain-row">
              <form v-on:submit.prevent="editVillain" class="edit-form">
                <div class="form-group villain-form-field">
                  <label for="villain-name">Villain Name:</label>
                  <input type="text" class="form-control" id="villain-name" v-model="name"/>
                </div>
                <div class="form-group villain-form-field">
                  <label for="villain-power">Villain Power:</label>
                  <input type="text" class="form-control" id="villain-power" v-model="superpower"/>
                </div>
                <div class="form-group villain-form-field">
                  <label for="villain-image">Villain Image:</label>
                  <input type="text" class="form-control" id="villain-image" v-model="image"/>
                </div>
                <div class="form-group villain-form-submit">
                  <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="villain.js"></script>
  </body>
</html>
