<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container" id="app">
      <div class="container jumbotron villain-form-title">
        <h1>{{ villainFormTitle }}</h1>
      </div>
      <form v-on:submit.prevent="createVillain">
        <div class="form-group villain-form-field">
          <label for="villain-name">Villain Name:</label>
          <input type="text" class="form-control" id="villain-name" v-model="name"/>
        </div>
        <div class="form-group villain-form-field">
          <label for="villain-power">Villain Power:</label>
          <input type="text" class="form-control" id="villain-power" v-model="superpower"/>
        </div>
        <div class="form-group villain-form-field">
          <label for="villain-image">Villain Image:</label>
          <input type="text" class="form-control" id="villain-image" v-model="image"/>
        </div>
        <div class="form-group villain-form-submit">
          <button type="submit" class="btn btn-primary btn-block">Create Villain</button>
        </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="villain.js"></script
  </body>
</html>
