.flex-container{
  border: solid 10px #34495e;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.flex-item{

  font-size: 2em;
  text-align: center;
  padding-top: 1.25em;
  padding-left: calc(1/3);
  padding-right: calc(1/3);
  padding-bottom: 1.25em;
  width: calc(33.33333% - 10px);
  color: #fff;
  margin: 10px;
  box-shadow: 0.2em 0.2em rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container{
  display: flex;
}

.item1{
  background-color: #27ae60;
}

.item2{
  background-color: #e67e22;
}

.item3{
  background-color: #3498db;
}

.item4{
  background-color: #f1c40f;
}

.item5{
  background-color: #c0392b;
}

.item6{
  background-color: #9b59b6;
}

h3{
  font-weight: 700;
}

img{
  width: 60%;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
